body {
    background-color: #f2f2f2;
}
.wrapper {
    min-height: 960px;
}
.page-header {
    text-align: center;
    font-size: 52px;
    margin-bottom: 120px;
}
.add-button {
    margin-top: 50px;
    margin-bottom: 50px;
}
.remove-button {
    margin-bottom: -45px;
    z-index: 1;
    position: absolute;
}
.item-title {
    font-size: 23px;
    margin-top: 15px;
}
.item-container {
    margin-top: 40px;
}
.image-container {
    max-width: 200px;
    max-height: 200px;
}